/* === IMPORTANTE ===
   No modificar estos estilos, ya que son imprescindibles para
   que la página se vea correctamente.
   ================= */
 
/*-- Básico ----------------------------------------------------------*/
ul,ul li{
	margin:0;
	padding:0;
	list-style:none;
	}
h1,h2,h3,p,form{
	margin:0;
	padding:0;
	}
.clear{clear:both;}
img{border:none;}
/*-- Layout ----------------------------------------------------------*/
#contenedor{
	width:90%;
	max-width:900px;
	margin:0 auto;
	}
/*header,nav,aside,#contenido,#contenido main,#contenido #secundario,footer{border:2px solid #777;}*/
header{clear:both;}
nav{clear:both;}
aside{
	float:left;
	width:20%;
	}
#contenido{
	float:right;
	width:78%;
	}
#contenido main{
	float:left;
	width:78%;
	}
#contenido #secundario{
	float:right;
	width:20%;
	}
footer{clear:both;}
/*-- Cabecera --------------------------------------------------------*/
header #logo{float:left;}
header #buscador{float:right;}
/*-- Menu ------------------------------------------------------------*/
nav ul#menu_principal li{
	display:inline;
	float:left;
	}
/*-- Sección Principal -----------------------------------------------*/
#contenido main article img{width:100px;float:left;}
/*-- Pie de página ---------------------------------------------------*/
footer .enlaces{float:left;}
footer .copyright{float:right;}

/* === IMPORTANTE ===
   A partir de aquí, se pueden añadir todos los estilos propios que 
   sean necesarios. Os dejo las primeras líneas a modo de ejemplo.
   Obviamente las podríamos unir por selectores pero prefiero agruparlas en función de los enunciados de la actividad.
   ================= */

/*-- Márgenes y rellenos -----------------------------------------------*/
header {padding: 1em}
nav {padding: 0.5em;
margin-bottom: 0.5em;}
#noticias, #publicidad, main, #secundario, #footer{
	padding: 0.5em}
footer{
	padding-right: 0em;
	padding-left: 0em;
}
article{
	margin: 1em;
}
article img{
	margin: 0.5em;
}
#publicidad{
	margin-top: 1em;
}
footer{
	margin-top: 1em;
}
#contenido{
	width: 77%;
}
main{
	width: 73%;
}
/*-- Bordes ------------------------------------------------------------*/
/*aside, header, footer, nav, #noticias, #publicidad, main, #secundario{border:none;}*/
*{
/*	border:none;*/
box-sizing: border-box;
}
nav{border-bottom: 1px solid #004C99;}
#noticias{
	border: 1px solid #C5C5C5;
}
#publicidad{
	border: 1px dashed #CC6600;
}
#secundario{
	border: 1px solid #CC6600;
}
footer{
	border-top: 1px solid #C5C5C5;
	border-bottom: 1px solid #C5C5C5;
}
#buscador input{
	border: 1px solid black;
}
/*-- Colores e imágenes -----------------------------------------------*/
#noticias, footer{background-color: #F8F8F8;}
#publicidad{
	background-color: #FFF6CD;
}
#secundario h2{
	background-color: #DB905C;
	padding: .2em;
}
nav{
	background: url(fondo_menu.gif);
}
header h1{
	background: url(logo.gif) 1px no-repeat;
	width: 180px;
	height: 40px;
}
header h1 span{
	display: none;
}